<app-page-header title="Provisoes"></app-page-header>

<mat-card class="section">
  <form [formGroup]="form" class="filtro">
    <mat-form-field appearance="outline" class="form-field-full">
      <mat-label>Unidade</mat-label>
      <mat-select formControlName="id_empresa" multiple>
        <mat-checkbox
          color="primary"
          class="select-all"
          [checked]="allEmpresas"
          (change)="toggleEmpresas($event.checked)"
        >SELECIONAR TODOS</mat-checkbox>
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
          {{ empresa.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Vencimento</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="data_inicio" placeholder="Início">
        <input matEndDate formControlName="data_fim" placeholder="Fim">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="form.controls.data_inicio.hasError('matStartDateInvalid')">Data de início inválida</mat-error>
      <mat-error *ngIf="form.controls.data_fim.hasError('matEndDateInvalid')">Data de fim inválida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field-full">
      <mat-label>Modalidade</mat-label>
      <mat-select formControlName="modalidade" multiple>
        <mat-checkbox
          color="primary"
          class="select-all"
          [checked]="allModalidades"
          (change)="toggleModalidades($event.checked)"
        >SELECIONAR TODOS</mat-checkbox>
        <mat-option *ngFor="let modalidade of modalidades" [value]="modalidade.id">
          {{ modalidade.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Parceiro</mat-label>
      <input matInput type="text" formControlName="parceiro">
    </mat-form-field>

    <div class="filtro__actions">
      <button
        type="reset"
        mat-raised-button
        (click)="limpar()"
      >Limpar</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="filtrar()"
      >Filtrar</button>
      <ng-container *ngIf="dataSource$ | async as dataSource">
        <button
          *ngIf="dataSource.length > 0"
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          (click)="export()"
        >Exportar</button>
      </ng-container>
    </div>
  </form>
</mat-card>

<mat-card class="section table-wrapper" [class.hidden]="!active">
  <ng-container *ngIf="dataSource$ | async as dataSource">
    <table
      mat-table
      *ngIf="dataSource.length > 0"
      [dataSource]="dataSource"
      class="mat-elevation-z0 tabela"
      matSort
      (matSortChange)="sortChange($event)"
      [matSortActive]="sort"
      [matSortDirection]="sortDirection"
      matSortDisableClear
    >
      <ng-container matColumnDef="unidade">
        <th mat-header-cell *matHeaderCellDef class="tabela__cell medium" mat-sort-header> Unidade </th>
        <td mat-cell *matCellDef="let item" class="tabela__cell"> {{ item.unidade }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="parceiro">
        <th mat-header-cell *matHeaderCellDef class="tabela__cell large" mat-sort-header> Parceiro </th>
        <td mat-cell *matCellDef="let item" class="tabela__cell"> {{ item.parceiro }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="vencimento">
        <th mat-header-cell *matHeaderCellDef class="tabela__cell small" mat-sort-header> Vencimento </th>
        <td mat-cell *matCellDef="let item" class="tabela__cell"> {{ item.vencimento | date: 'shortDate':'+0000' }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef class="tabela__cell medium" mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let item" class="tabela__cell"> {{ item.valor | currency: 'BRL' }} </td>
        <td mat-footer-cell *matFooterCellDef class="tabela__cell medium"> {{ valorTotal | currency: 'BRL' }} </td>
      </ng-container>

      <ng-container matColumnDef="modalidade">
        <th mat-header-cell *matHeaderCellDef class="tabela__cell medium" mat-sort-header> Modalidade </th>
        <td mat-cell *matCellDef="let item" class="tabela__cell"> {{ item.modalidade }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="tabela__cell small"></th>
        <td mat-cell *matCellDef="let item" class="tabela__cell">
          <button mat-icon-button (click)="edit(item)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="delete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5"></td>
      </tr>
    </table>

    <div class="loading" *ngIf="isLoading$ | async">
      <mat-spinner diameter="25"></mat-spinner>
      <span>Buscando dados...</span>
    </div>
    <div class="empty" *ngIf="!(isLoading$ | async) && dataSource.length == 0">Nenhum registro encontrado</div>
  </ng-container>
</mat-card>

<br>
<div style="height: 1rem;"></div>

<button
  mat-fab
  color="primary"
  class="floating-button"
  (click)="add()"
>
  <mat-icon>add</mat-icon>
</button>
