<h2 mat-dialog-title>Pagamento</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Ajuste</mat-label>
      <input matInput type="number" formControlName="ajuste" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Observação</mat-label>
      <textarea matInput formControlName="observacao"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [mat-dialog-close]="null">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value">Salvar</button>
</mat-dialog-actions>
