.section {
  margin-block-end: 1.5rem;
}

.hidden {
  display: none;
}

.filtro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filtro > *:not(:last-child) {
  margin-inline-end: 1rem;
}

.filtro ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.filtro__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filtro__actions button:not(:last-child) {
  margin-inline-end: 1rem;
}

.filtro__actions ::ng-deep > button {
  height: 3rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.loading mat-spinner {
  margin-inline-end: 0.5rem;
}

.empty {
  text-align: center;
  padding: 1rem;
}

.select-all {
  padding: 0.5rem 1rem 0.5rem;
  width: 100%;
}
