<mat-card *ngIf="isLoaded | async">
  <mat-card-title>Pagamentos por período</mat-card-title>

  <ng-container *ngIf="isLoading | async; else elseBlock">
    <div class="spinner">
      <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate"
        value="50">
      </mat-progress-spinner>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Vencendo </th>
          <td mat-cell *matCellDef="let item"> {{ item.label }} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor total/Período </th>
          <td mat-cell *matCellDef="let item"> {{ item.valor | currency: 'BRL' }} </td>
          <td mat-footer-cell *matFooterCellDef> {{ total | async | currency: 'BRL' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </ng-template>
</mat-card>
