/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

:root {
  --background: #F3EEEE;
  --font-color: #000000;
  --font-color-medium: #BAB6B6;
  --font-color-dark: #767272;
  --light-gray: #E7E7E7;
}
